#build files
target
logs

#gradle
.gradle
gradle
gradlew
gradlew.bat

#selenide webdrivermanager driver temp files
build

#ide specific
.idea
*.iml

#allure temp directories
lib/*
reports/*
allure-results/*

#runtime property file
src/test/resources/demo/last_created_user_id