<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test enabled="false" verbose="0" preserve-order="true" name="All Tests">
        <packages>
            <package name="demo.api.tests.GoRESTAPITests"/>
            <package name="tests.MTTest"/>
        </packages>
    </test>
    <test enabled="false" verbose="0" preserve-order="true" name="UI Tests">
        <packages>
            <package name="tests.MTTest"/>
        </packages>
    </test>
    <test enabled="false" verbose="0" preserve-order="true" name="API Tests">
        <packages>
            <package name="demo.api.tests.GoRESTAPITests"/>
        </packages>
    </test>
    <test enabled="true" verbose="0" preserve-order="true" name="Selected Tests">
        <packages>
            <package name="demo.api.tests.GoRESTAPITests"/>
            <package name="tests.MTTest"/>
        </packages>
    </test>
</suite>